  <tbody id="table-body">
    {{range .Commands}}
    <tr data-href="/command/{{.Path}}">
      <td><a href="/command/{{.Path}}">{{.Name}}</a></td>
      <td>{{.Description}}</td>
    </tr>
    {{end}}
  </tbody>