<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <style>{{.CSS}}</style>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Commands</a>
      </div>
    </nav>
    <div class="container-fluid mt-2">
      <div>{{.Content}}</div>
    </div>
  </body>
</html>

<script>{{.JS}}</script>